<div class="content">
    <div class="col-md-12">
      <div class="panel-footer text-center">
        <span class="d-block p-1 bg-primary text-white" style="margin-top: 10px">
          <h5>Renkler</h5>
        </span>
      </div>
        
      <div *ngIf="dataLoaded == false" class="spinner-border text-primary" role="status" >
        <span class="visually-hidden">Loading...</span>
      </div>
        
      <table *ngIf="dataLoaded == true" id="colorsTable" class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
          <tr>
            <th>Id</th>
            <th>Color Name</th>
            <th style="text-align: center; width: 200px">
              <button type="button" data-func="dt-add" class="btn btn-success btn-xs dt-add formButton" routerLink="/colors/add">
                <span class="glyphicon glyphicon-plus" >Add Color</span>
              </button>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let color of colors">
            <td>{{ color.colorId }}</td>
            <td>{{ color.colorName }}</td>
            <td>
              <button type="button" class="btn btn-info btn-xs formButton" data-bs-toggle="modal" data-bs-target="#updateColorModal" (click)="setSelectedColorToUpdate(color)" >
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                    <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
                  </svg>            </button>
              <button type="button" class="btn btn-danger btn-xs formButton" data-bs-toggle="modal" data-bs-target="#deleteColorModal" (click)="setSelectedColorToDelete(color)">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentBrand"
                class="bi bi-trash-fill" viewBox="0 0 16 16">
                <path
                  d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z" />
              </svg> 
            </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  
  <div class="modal fade" id="updateColorModal" tabindex="-1" aria-labelledby="updateColorModal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="updateColorTitle">Renk Güncelle</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="colorUpdateForm" *ngIf="colorUpdateForm">
            <div class="row">
              <div class="col-4">
                <label for="colorId">Id</label>
                <input type="number" class="form-control" *ngIf="selectedColor" id="colorId" name="colorId" formControlName="colorId" value="{{selectedColor.colorId}}" readonly>
              </div>
              <div class="col-8">
                <label for="colorName">Renk</label>
                <input type="text" class="form-control" *ngIf="selectedColor" id="colorName" formControlName="colorName" value="{{selectedColor.colorName}}">
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
          <button class="btn btn-primary" (click)="updateColor()" data-bs-dismiss="modal" >Kaydet</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="deleteColorModal" tabindex="-1" aria-labelledby="deleteColorModal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteColorTitle">Renk Sil</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="colorDeleteForm" *ngIf="colorDeleteForm">
            <div class="row">
              <div class="col-4">
                <label for="colorId">Id</label>
                <input type="number" class="form-control" *ngIf="selectedColor" id="colorId" name="colorId" formControlName="colorId" value="{{selectedColor.colorId}}" readonly>
              </div>
              <div class="col-8">
                <label for="colorName">Renk</label>
                <input type="text" class="form-control" *ngIf="selectedColor" id="colorName" formControlName="colorName" value="{{selectedColor.colorName}}" readonly>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
          <button class="btn btn-danger" (click)="deleteColor()" data-bs-dismiss="modal" >Sil</button>
        </div>
      </div>
    </div>
  </div>
