
<body>
  
 

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href=" ">Anasayfa</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        
          
       
    
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            Admin
           </button>
           <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
             <a class="dropdown-item" routerLink="/carList">Cars</a>
             <a class="dropdown-item" routerLink="/colorList" >Colors</a>
             <a class="dropdown-item" routerLink="/brandList">Brands</a>
      
           </ul>
    
          <ul class="navbar-nav me-auto mb-2 mb-lg-0" style="margin-right: 20px">
    <!--            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">-->
    <!--            <button class="btn btn-outline-success" type="submit">Search</button>-->
          </ul>
    
    
          <form *ngIf="!isVerified">
            <button style="margin: 20px" type="submit" class="btn btn-dark mb-3" routerLink="/login">Giriş yap</button>
            <button style="margin-top: 20px" type="submit" class="btn btn-dark mb-3" routerLink="/register">Kayıt ol</button>
          </form>
    
          <div class="dropdown" *ngIf="isVerified">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
              {{userName}}
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <a class="dropdown-item" routerLink="/user">Profil</a>
              <a class="dropdown-item"  (click)="logOut()">Çıkış</a>
            </ul>
          </div>
    
    
        </div>
      </div>
    </nav>
    


  


</body>

