
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  color: aliceblue;
  padding-top: 40px;
  padding-bottom: 40px;
  background-image: url("image/1111.jpg");
}

.form-signin {
  color: black;
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin .checkbox {
  color: rgb(176, 207, 235);
  font-weight: 400;
}

.form-signin .form-floating:focus-within {

  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }
  h1{
    color: rgb(250, 250, 250);
  }

 