
<div class="container">
    <app-navi></app-navi>
    <div class="row">
       
        <div class="col-md-2">
            <app-color></app-color> 
            <app-brand></app-brand> 
        </div>
      
        <div  class="col-md-7">        
            <router-outlet></router-outlet>
        </div> 

       
    </div> 
    
</div> 
    

<div  class="container">
      
    <!-- <div >
        <div class="col-md-4">
            <app-user></app-user>

        </div>
        
    </div> -->
</div>



