<app-filter></app-filter>

<div class="card mb-3 ">

  <h2>
    <span class="d-block p-2 bg  text-white " style="text-align: center;">CARS</span>

  </h2>


  <div *ngIf="dataLoaded==false" class="spinner-border text-secondary" role="status">
    <span class="visually-hidden">Loading</span>

  </div>
  <table class="table ">

    <thead *ngIf="dataLoaded==true">
      <tr class="  bg-info text-dark">
        <th>Car Name</th>
        <th>Color</th>
        <th>Model Year</th>
        <th>Description</th>
        <th>Daily Price</th>
        <th></th>
      </tr>

    </thead>
    <tr *ngFor="let car of cars">
      <td>{{car.carName }}</td>
      <td>{{ car.colorName }}</td>
      <td>{{ car.modelYear }}</td>
      <td>{{ car.description}}</td>
      <td>{{ car.dailyPrice }} </td>
      <br>


      <button type="button" class="btn btn-xs btn-secondary" routerLink="detail/{{car.carId}}">Detaylar</button>
    </tr>
  </table>

</div>