


.card {
    background-color: rgba(219, 235, 208, 0.61);

}

button{
    background-color: rgb(5, 5, 56);
    
    
}
span #bg{
    height: 40px;
    width: 10px;
    
    background-color: rgb(5, 5, 56);
}
h2{
    background-color: rgb(5, 5, 56);
}