
table{
    background-color: rgba(200, 219, 185, 0.596);
}

button{
    background-color: rgb(5, 5, 56);
}

 div #w{
     
    background-color: rgb(5, 5, 56);
}


h5{
    background-color: rgb(5, 5, 56);
}

div #panel {
    
    height: 40px;
    width: 10px;
    
}